<h1>My App</h1>
<button>Don't Click Me</button>
<p *ngIf="true">card works!</p>
<p *ngIf="false">card 2 works! but doesn't show</p>
<hr>
<ul>
    <li *ngFor="let p of produtos; let i = index"
        (click)="remover(i)"
    >
      {{ i }} - {{ p }}
    </li>
    <button (click)="adicionar()">Adicionar</button>
</ul>
<hr>
<h1>Menu Baseado na Role do User</h1>
<div [ngSwitch]="menuType">
    <div *ngSwitchCase="'user'">
        <ul>
            <li>Editar Perfil</li>
            <li>Adicionar Cartão</li>
        </ul>
    </div>
    <div *ngSwitchCase="'admin'">
        <ul>
            <li>Editar Perfil</li>
            <li>Adicionar Cartão</li>
            <li>Gerenciar Users</li>
        </ul>
    </div>
    <div *ngSwitchCase="'root'">
        <ul>
            <li>Editar Perfil</li>
            <li>Adicionar Cartão</li>
            <li>Gerenciar Users</li>
            <li>Gerenciar Admins</li>
        </ul>
    </div>
    <div *ngSwitchDefault>
        <h2>You've met with a terrible fate, haven't you?</h2>
    </div>
</div>
